<app-cabecera [titulo]="'Usuarios'"></app-cabecera>

<ion-content>

  <ion-refresher  #miRefresher slot="fixed" (ionRefresh)="refresca($event)">
    <ion-refresher-content refreshingSpinner="crescent" refreshingText="Cargando...">
    </ion-refresher-content>

  </ion-refresher>
  <ion-item *ngIf="numeroPagina==1">
    <ion-icon slot="end" name="arrow-down"></ion-icon>
    <ion-label>Arrastra para actualizar</ion-label>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let item of usuarios; index as i">
      <ion-avatar slot="start">
        <img src={{item.avatar}}>
      </ion-avatar>
      <ion-label>
        <h2>{{item.first_name}}</h2>
        <h3>{{item.last_name}}</h3>
        <p>{{item.email}}</p>
      </ion-label>
    </ion-item>
  </ion-list>



  <ion-fab (click)="limpiar()" *ngIf="numeroPagina!=1" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-infinite-scroll  #miInfinite threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>