<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list>
    <ion-item detail>
      <ion-label>Pokemon esmeralda</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item  detail>
      <ion-label>Jesucristo</ion-label>
    </ion-item>
  </ion-list>
  <!--
<ion-button routerLink='/action-sheet' expand="block" color="primary">
    Action-sheet
  </ion-button>

  <ion-button routerLink='/alert' expand="block" color="tertiary">
    Alert
  </ion-button>
  -->
</ion-content>