<app-cabecera [titulo]="'Slides'"></app-cabecera>
<ion-content>
  <ion-content>
    <ion-slides pager="true" class="slide">
      <ion-slide *ngFor="let usuario of usuarios">
        <ion-buttons slot="end">
          <ion-button (click)="cancelar()">
            <ion-icon slot="icon-only" name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-item>
          <ion-avatar slot="start">
            <img src={{usuario.avatar}}>
          </ion-avatar>
          <ion-label>
            <h2>{{usuario.first_name}}</h2>
            <h3>{{usuario.last_name}}</h3>
            <p>{{usuario.email}}</p>
          </ion-label>
        </ion-item>
      </ion-slide>
    </ion-slides>
  </ion-content>
</ion-content>
