.color1{
    background-color: aquamarine;
    height: 100%;
}
.color2{
    background-color: cornflowerblue;
    height: 100%;
}
.color3{
    background-color: crimson;
    height: 100%;
}
.slide{
    height: 100%;
}