<ion-app>

  
    <ion-menu side="start" menuId="menuPrincipal" contentId="main">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Mi Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-menu-toggle *ngFor="let c of componentes" [routerLink]="c.ruta">
        <ion-list>
          <ion-item>
            <ion-icon [color]="c.color" slot="start" [name]="c.icono"></ion-icon>
            <ion-label>{{c.nombre}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-menu-toggle>
      </ion-content>
    </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>