<app-cabecera [titulo]="'Alert'">
</app-cabecera>
<ion-content class="ion-padding">
    <ion-button (click)="onClick(1)">
        Alert
    </ion-button>
    <ion-button (click)="onClick(2)">
        Alert Multiple Buttons
    </ion-button>
    <ion-button (click)="onClick(3)">
        Alert Confirm
    </ion-button>
    <ion-button (click)="onClick(4)">
        Alert Prompt
    </ion-button>
    <ion-button (click)="onClick(5)">
        Alert Radio
    </ion-button>
    <ion-button (click)="onClick(6)">
        Alert Checkbox
    </ion-button>
</ion-content>
