<app-cabecera [titulo]="'Alert'"></app-cabecera>

<ion-content>
   

    <!-- <ion-list *ngFor="let boton of botones, index as i">
        <ion-item>
            <ion-button expand="full" (click)="onClick(boton.numero)" [color]="boton.color">
                {{boton.nombre}}
            </ion-button>
        </ion-item>
    </ion-list> -->

    <ion-grid>
        <ion-row >
            <ion-col *ngFor="let boton of botones, index as i" size="6"><ion-button expand="full" (click)="onClick(boton.numero)" [color]="boton.color">{{boton.nombre}}</ion-button></ion-col>
        </ion-row>
    </ion-grid>
</ion-content>